<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <meta
    name="Description"
    content="danharris.io // portfolio site for Dan Harris // full-stack dev 🤓, grad advocate 👩‍🎓, beer enthusiast 🍺"
  />
  <meta name="theme-color" content="#000000" />
  <link rel="manifest" href="/manifest.json" />
  <link rel="icon" type="image/png" sizes="96x96" href="favicon-96x96.png" />
  <title>{{ title if title }}{{ " // " if title }}danharris.io</title>
  <!--[if lt IE 9]>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"
    ></script>
  <![endif]-->
  <link
    href="https://fonts.googleapis.com/css?family=Fira+Sans:400,500|Fjalla+One&display=swap"
    rel="stylesheet"
  />
</head>
