<nav class="navbar navbar--shadow" aria-label="Main Navigation">
  <div class="navbar__inner-wrapper">
    <ul class="navbar__main-nav">
      <li class="navbar__main-nav__link__outer">
        <a class="navbar__main-nav__link {{"active" if (base_route == "home")}}" href="/">home</a>
      </li>
      <li class="navbar__main-nav__link__outer">
        <a class="navbar__main-nav__link {{"active" if (base_route == "blog")}}" href="/blog">blog</a>
      </li>
      <li class="navbar__main-nav__link__outer">
        <a class="navbar__main-nav__link{{"active" if (base_route == "presentations")}}"
          href="/presentations">slides</a>
      </li>
    </ul>
    <div class="navbar__logo">
      <a class="navbar__logo__profile-pic" href="/" aria-label="home">
        <div role="presentation" class="navbar__logo__profile-pic__img-preview"></div>
        <div class="img--lazy-load" role="img" aria-label="dan profile" data-src="/dan-harris-profile.jpg"></div>
      </a>
      <a aria-label="twitter link" rel="noopener" class="navbar__logo__twitter-link external-icon--exempt"
        href="https://twitter.com/danharris_io" target="_blank">
        {% include 'icons/_twitter.html' %}
      </a>
    </div>
  </div>
</nav>