<header class="logo-header">
  <div class="logo">
    <img
      class="logo__profile-pic"
      alt="dan profile"
      src="dan-harris-logo.svg"
    />
  </div>
  <nav class="profile-links">
    <a
      aria-label="github link"
      rel="noopener"
      class="profile-links__icon-button external-icon--exempt"
      href="https://github.com/dan-harris"
      target="_blank"
    >
      {% include 'icons/_github.html' %}
    </a>
    <a
      aria-label="twitter link"
      rel="noopener"
      class="profile-links__icon-button external-icon--exempt"
      href="https://twitter.com/danharris_io"
      target="_blank"
    >
      {% include 'icons/_twitter.html' %}
    </a>
    <a
      aria-label="linkedin link"
      rel="noopener"
      class="profile-links__icon-button external-icon--exempt"
      href="https://linkedin.com/in/dan-harris"
      target="_blank"
    >
      {% include 'icons/_linkedin.html' %}
    </a>
    <a
      aria-label="medium link"
      rel="noopener"
      class="profile-links__icon-button external-icon--exempt"
      href="https://medium.com/@danharris_io"
      target="_blank"
    >
      {% include "icons/_medium.html" %}
    </a>
  </nav>
</header>
