---
layout: page-default
---

<article class="blog-post content__inner--full-width">
    <!-- header title + image .etc -->
    <header class="blog-post__header">
        <div
            class="blog-post__header__image"
            style="background-image: url(/blog-images/{{ slug }}.png);"
            role="img"
            aria-label="{{ title }}"
        ></div>
        <h1 class="blog-post__header__title">{{ title }}</h1>
        <ul class="blog-post__header__meta">
            <li>{{ page.date | date }}</li>
            {% for tag in tags %} 
                {% if tag != 'post' %}
                <li>{{ tag | trim }}</li>
                {% endif %} 
            {% endfor %}
        </ul>
    </header>
    {{ content | safe }}
</article>